* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

body {
  background-color: black; 
  padding-bottom: 1000px;
}

.frame1 {
  background-color: lightblue;  
  width: 100%; 
  height: 100vh;
  padding: 10px;

  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  background-color: lightpink;
  width: 100%;
  padding: 10px 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-section{
  background-color: beige;
  padding: 20px 150px;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.hero-section-left, .hero-section-right {
  background-color: lightgreen; 
  width: 20%; 
}

.hero-section-bottom {
  background-color: lightgrey;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*! Section 2 */

.frame2 {
  background-color: rgb(207, 230, 173);
  width: 100%; 
  height: 100vh;
  padding: 10px;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview-center {
  background-color: lightgray;
  width: 100%;
  height: 90%; 
  padding: 0px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; 
}

.overview-center > * {
  height: 100%;
  background-color: lightsalmon;
  flex: 1;
}

/*! Section 3  */

.frame3{
  background-color: rgb(173, 204, 230);
  width: 100%; 
  height: 100vh;
  padding: 10px;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activities-events-center-top{
  background-color: lightpink;
  width: 100%; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities-events-center {
  background-color: rgb(129, 189, 187);
  width: 100%;
  flex: 1;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.activities-events-center > * {
  flex: 1; 
  height: 90%;
}

.activities-events-center-left {
  background-color: lightcoral;
}

.activities-events-center-right {
  background-color: rgb(154, 128, 240);
}

/*! Section 4 */

.frame4 {
  background-color: rgb(212, 173, 230);
  width: 100%; 
  height: 100vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stay-center {
  background-color: cadetblue;
  width: 100%; 
  height: 100%; 
  padding: 10px; 

  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.stay-center-left, .stay-center-right {
  background-color: lightgray;
  width: 50%;
  height: 100%; 
}

/* ! Section 5 */

.frame5{
  background-color: rgb(230, 173, 173);
  width: 100%; 
  height: 60vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dine-center {
  background-color: rgb(129, 202, 222);
  width: 100%; 
  height: 100%; 
  padding: 10px; 

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.dine-center-left, .dine-center-right{
  width: 100%; 
  height: 100%; 
  background-color: rgb(119, 63, 63);
}

.dine-center-right {
  padding: 10px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.dine-center-right-top, .dine-center-right-btm {
  background-color: lightgray; 
  height: 100%; 
  width: 100%; 
}

/*! Section 6  */

.frame6{
  background-color: rgb(157, 65, 99);
  width: 100%; 
  height: 50vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.testimonial-top {
  background-color: lightgray;
  width: 100%; 
  height: 100px; 
}

.testimonial-btm {
  background-color: rgb(244, 155, 11);
  padding: 10px; 
  width: 100%; 
  flex: 1;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.testimonial-btm div{
  background-color: lightgray;
  height: 100%;
  flex: 1;
}

/*! Section 7  */

.frame7 {
  background-color: rgb(70, 65, 157);
  width: 100%; 
  height: 100vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.faq-top {
  background-color: lightgray;
  width: 100%; 
  height: 10%;
}

.faq-btm {
  background-color: lightgray;
  width: 100%; 
  flex: 1;
}


.frame8 {
  background-color: rgb(157, 65, 65);
  width: 100%; 
  height: 100vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.inquire-top {
  background-color: lightgray;
  width: 100%; 
  height: 10%;
}

.inquire-btm {
  background-color: lightgray;
  width: 100%; 
  padding: 10px;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inquire-btm-content {
  background-color: lightcoral;
  height: 100%; 
  width: 60%; 
}



